@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hilarious Dad Jokes</h1>
    <p>The foremost authority for amazing dad jokes that you will find anywhere on your local host.</p>
</div>
